body {
  background-color: #F8F9FA;
  font-family: 'Raleway', serif;
}

/*login*/
  .login-area {
  	background-color: #FFC007;
    font-family: 'Roboto Slab', serif;
  }

  .login-area h1 {
  	font-family: 'Roboto Slab', serif !important;
  }
  .form-signin {
    width: 100%;
    max-width: 370px;
    margin: 10vw auto;
    padding: 20px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input:focus,
  .form-signin input:active {
  	outline: #ced4da !important;
  	border-color: #ced4da !important;
  	box-shadow: none;
  }


/*styling theme*/
  table {
    font-size: 13px !important;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 5vh;
    }
  }


  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #BDBDBD;
  }

  .sidebar .nav-link:hover,
  .sidebar .nav-link:active,
  .sidebar .nav-link.active {
    color: #ffffff;
  }

  .sidebar .feather {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
  }

  .sidebar .nav-link .feather {
    margin-right: 7px;
    color: #BDBDBD;
  }


  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .7rem;
    text-transform: uppercase;
  }


  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgb(223,166,0);
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .8);*/
  }

  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
/*end styling theme*/

/* utility */
  .fs-13 {
    font-size: 13px !important;
  }
  .fs-16 {
    font-size: 16px !important;
  }
  .fs-18 {
    font-size: 18px !important;
  }
  .fs-20 {
    font-size: 20px !important;
  }


  .feather-14 {
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
  }
  .feather-16 {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  .feather-18 {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
  }
  .feather-20 {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
  }

.form-control:focus,
.form-control:active,
select:focus,
select:active  {
  border-color: #ffc107 !important;
  box-shadow: none !important;
}
/* endutility */

.nav-pills.nav-dashboard .nav-item {
  border: 1px solid #6c757d;
  color: #6c757d;
  margin-right: 10px;
  border-radius: .25rem;
}

.nav-pills.nav-dashboard .nav-item .nav-link{
  color: #6c757d;
}

.nav-pills.nav-dashboard .nav-link.active, 
.nav-pills.nav-dashboard .show > .nav-link,
.nav-pills.nav-dashboard .nav-link.active > .nav-item {
  background-color: #e9eaec;
  color: #000 !important;
}

table {
  font-size: 14px;
}

.btn-remove-image {
  position: absolute;
  right: 0;
  border-color: transparent;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

/* autocomplete */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}