body {
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	letter-spacing: .05rem;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: auto;
}

.logo {
	max-width: 40px;
	width: 100%;
}

.table-header {
	border-bottom: 1px solid #eeeeee;	
}

.table-header tr td {
	padding-bottom: 10px;
}

.table {
	font-size: 13px;
}

.table thead {
	background-color: #000000;
	color: #ffffff;
}
.text-information {
	font-size: 12px;
	text-align: center;
	margin-top: 25vh;
}
