body {
	background-color: #F8F9FA;
	padding-top: 56px;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	letter-spacing: .05rem;
	position: relative;
}

.bg-dark {
	background-color: #191919 !important;
}

.jumbotron-area {
	height: 40vh;
	background: url(../images/jumbotron.jpeg) no-repeat center;
	overflow: hidden;
	position: relative;
	background-size: cover;
	color: #ffffff;
	z-index: 1000 !important;
	display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.jumbotron-area h1 {
	font-weight: 400;
	text-transform: capitalize;
	color: #FFC007;
	/*text-shadow: 0 2px 0 #906c00;*/
}

.jumbotron-area:after {
	content: '';
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.search-area {
	background-color: #191919;
	padding: 20px 30px 30px;
	border-radius: 5px;
	/*font-family: 'Roboto Slab', serif;*/
	font-weight: 200;
}

.spinner-input {
	border-color: #f8f9fa;
	border-right: 0;
	text-align: right;
}
.input-text-custom {
	background-color: #ffffff;
	border-color:#f8f9fa;
	padding: 0 1rem 0 0 !important;
}

.card-text-list {
	border: 1px dashed #6C757D;
	padding: 3px;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 15px;
}
.card-img-top {
  min-width: 276px;
  height: 180px;
  object-fit: cover;
}

#carMobil .carousel-indicators {
  position: static;
}

#carMobil .carousel-indicators>li {
  width: 125px
}

#carMobil .carousel-indicators li img {
  display: block;
}

#carMobil .carousel-indicators li a.active img {
  opacity: 0.5;
}

#carMobil .carousel-indicators li:hover img {
  opacity: 0.75
}

.area-data-diri h5 {
	font-weight: bold;
}

.border-between {
		text-align: center; 
		border-bottom: 1px solid rgba(0,0,0,.225); 
		color: rgba(0,0,0,.425);
		font-size: 13px;
		text-transform: uppercase;
		line-height: 0.01em;
		margin: 35px auto; 
	}
	.border-between span { 
		background: #F8F9FA; 
		padding:0 10px; 
	}

.form-control:focus,
.form-control:active {
	border-color: #ffc107;
	box-shadow: none;
}

.nav-pills.nav-dashboard .nav-item:not(.disabled) {
  border: 1px solid #6c757d;
  color: #6c757d;
  margin-right: 10px;
  border-radius: .25rem;
}

.nav-pills.nav-dashboard .nav-item:not(.disabled) .nav-link:not(.disabled){
  color: #6c757d;
}

.nav-pills.nav-dashboard .nav-link.active, 
.nav-pills.nav-dashboard .show > .nav-link,
.nav-pills.nav-dashboard .nav-link.active > .nav-item {
  background-color: #ffcb2e;
  color: #000 !important;
}

@media (min-width: 1200px) {
	.container{
	  max-width: 1200px;
	}
}


/*utility*/
	.fs-7 {
		font-size: .75rem!important;
	}
	.fs-8 {
		font-size: .55rem!important;
	}
	.icon-sm {
		width: 18px;
	}
	.icon-md {
		width: 20px;
	}
	.icon-lg {
		width: 26px;
	}
/*utility*/

.error {
	color: #dc3545;
}